.map-frame {
  min-height: 400px;
}

.reset-button {
  margin-left: 1em;
  margin-right: 0;
}

.get-location-button {
  .icon {
    padding: 25px;

    i {
      // sass-lint:disable nesting-depth
      &::before {
        font-size: 2rem;
      }
    }
  }
}

.info-sign {
  vertical-align: super;

  // sass-lint:disable force-element-nesting
  i.fa {
    color: $blue;
    font-size: .9rem;
  }
}

.info-balloon {
  position: absolute;
  top: 2.8rem;
  right: 0;
  left: 0;
  margin: auto;

  z-index: 10;
  max-width: 300px;

  &::before {
    content: '';
    border: solid 15px $primary;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -30px;
    left: 50%;
  }
}

.user-column {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .mobile-paddingless {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .root-columns {
    flex-direction: column;
  }

  .web-column {
    text-align: center;
    order: 1;
    padding-bottom: 3rem;
  }

  .user-column {
    text-align: center;
    order: 2;
    padding-bottom: 3rem;
  }

  .map-column {
    order: 3;
  }
}
