.map-frame {
  min-height: 400px;
}

.reset-button {
  margin-left: 1em;
  margin-right: 0;
}

.get-location-button {
  .icon {
    padding: 25px;

    i {
      // sass-lint:disable nesting-depth
      &::before {
        font-size: 2rem;
      }
    }
  }
}
